*, *:before, *:after
  box-sizing: border-box

html
  font-family: 'Myriad Pro Regular', sans-serif
  font-weight: normal
  font-style: normal
  font-size: 1rem
  scroll-behavior: smooth

.swiper-button-prev::after
  display: none
.swiper-button-next::after
  display: none
.swiper-button-prev
  background-image: url("../img/prev.png")
  width: 54px
  height: 54px
  border-radius: 100%
  background-position: center
  background-repeat: no-repeat
  left: -29px
  top: 87px
  border: none
  outline: none

.swiper-button-prev1
  background-image: url("../img/prev.png")
  width: 54px
  height: 54px
  border-radius: 100%
  background-position: center
  background-repeat: no-repeat
  top: 180px
  left: -27px
  border: none
  outline: none
  position: absolute
  z-index: 2

.swiper-button-next
  background-image: url("../img/next.png")
  width: 54px
  height: 54px
  border-radius: 100%
  background-position: center
  background-repeat: no-repeat
  right: -29px
  top: 87px
  border: none
  outline: none

.swiper-button-next1
  background-image: url("../img/next.png")
  width: 54px
  height: 54px
  border-radius: 100%
  background-position: center
  background-repeat: no-repeat
  top: 180px
  right: -27px
  border: none
  outline: none
  position: absolute
  z-index: 2

.title
  font-size: 2.3rem
  letter-spacing: 0.04rem

.footer__link
  &:hover
    fill: red

input
  outline: none

select
  outline: none

button
  outline: none