.order
  background-color: #222222
  padding: 7.071rem 0 5.786rem 0
  &::before
    content: ''
    height: 1px
    width: 68.528rem
    background-color: #444444
    display: block
    margin: 0 auto 9.8rem auto
  &__col-100
    font-size: 1.6rem
    padding: 0 0 0 3rem
    color: #17bebb
    text-decoration: line-through
    font-weight: bold
  &__title
    max-width: 198px
    width: 100%
    font-size: 2.4rem
    line-height: 3rem
  &__row
    color: $light
  &__options
    background-color: #222222
    color: #ffffff
    border-radius: 3px
    border: 1px solid #444444
    width: 306px
    height: 90px
    padding: 27px 92px 26px 33px
    font-size: 1.7rem
    margin: 0 0 2.8rem 0
  &__col-33
    padding: 3.6rem 0 0 0.7rem
.price
  display: none
  &__first
    display: block
.form
  display: flex
  flex-direction: column
.img-svg
  fill: none
.modal
  position: relative
.input
  border-radius: 3px
  color: $light
  background: transparent
  width: 306px
  height: 54px
  border: none
  border-bottom: 1px solid #444444
  margin: 0 0 2.9rem 0
  padding: 0.3rem 0 0 0
.input.invalid    
  border-bottom: 1px solid tomato
div.invalid
  position: absolute
  color: tomato
  font-size: 1rem
  bottom: 120px
input[type="tel"]::placeholder
  font-size: 1.17em
.form
  &__button
    width: 306px
    height: 54px
    border: none
    border-radius: 3px
    background-color: #ff6600
    color: $light
    font-weight: bold
    letter-spacing: 0.14rem
    text-transform: uppercase
.promo
  text-decoration: none
  color: #777777
  padding: 1.5rem 0 0 4.7rem
  font-size: 0.9rem
.col-80
  padding: 2rem 0 0 2.5rem
  font-size: 5.7rem
  font-weight: bold
.col-20
  font-size: 1.6rem
  padding: 2.9rem 0 0 2.7rem